body {
    font-family: "Arial", helve, SansSerif, serif; /*body color, font and positioning etc*/
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}
/*Global*/
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;


}/*Used for image of myself on about page*/
.david {
    height: auto;
    width: 100%;
    max-width: 400px;
    max-height: 50%
}
/*Used for images to make them adaptive*/
.responsive-image {
    height: auto;
    width: 100%;
    max-width: 750px;
}
ul{
    flex-wrap: wrap;
    display: flex;
    margin: 0;
    padding: 0;

}
/*Subscribe button*/
.button01{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

/*HEADER**/
header{
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px; /*set min-height because it adapts better (mobile first)*/
    border-bottom: #e8491d 3px solid; /*added orange line at bottom of header*/
}

header a{
    color:#ffffff;
    text-decoration: none; /*removes underline*/
    text-transform: uppercase; /*menu set to uppercase*/
    font-size: 16px;

}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;
}

header #branding {
    margin: 0;

}
/*Header direction/
header nav {
    float: right;
    margin-top: 10px;
}
/*Header color and font*/
header .highlight, header .current a{
    color:#e8491d;
    font-weight: bold;
}

header a:hover{
    color:#cccccc;
    font-weight: bold;
}

/* Showcase also known as the big picture of Arnold with a heading and paragraph*/
#showcase{
    min-height: 400px;
    background: url('../images/showcase.png') no-repeat 0 0;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;

}

#showcase p{
    font-size: 20px;
    text-align: center;

}
/*NEWSLETTER*/
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;

}
/*BOXES*/

#boxes {
    display: flex;
    margin-top: 20px;

}
#boxes .box{
    float: left;
    width: 100%;
    padding: 10px;
    text-align: center;

}

#boxes .box img{
    width:50%;
}
/*Footer colour,layout*/
footer{
    padding: 20px;
    margin-top: 20px;
    color:#ffffff;
    background-color: #e8491d;
    text-align: center;
}

#top {
    text-decoration: aquamarine;
    color: red;
    border-bottom: 1px solid #ccc;
    position:page;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
}

#image {
    max-width: 100%;
    display:block;
    height: auto;
}


